/* Container for the entire content */
.image-detail {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20px;
  max-width: 100%;
  background-color: #ddd;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 1px 1px 200px black;
  margin-top: 2rem;
}

/* CSS for the plant-image div */
#plant-image {
  width: 100%;
  background-image: url("tulsi.jpg");
  background-size: cover;
  border: 5px solid white;
  height: 300px;
}

/* Table styling */
table {
  width: 100%;
  text-align: left;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

/* Description styling */
.image-full-description {
  grid-column: 1 / span 2;
  margin-top: 20px;
  padding: 20px;
  border: 5px solid black;
  font-weight: normal;
  text-align: left;
}
